body {
    margin-top: 1.0em;
    background-color: #606060;
    font-family: "Helvetica,Arial,FreeSans";
    color: #000000;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: #ffffff;
    padding-top:30px;
    padding-bottom:30px;
    padding-right:30px;
    padding-left:30px;
}

h1 {
    font-size: 3.8em;
    color: #0d76f8;
    margin-bottom: 3px;
}

h1 .small { font-size: 0.4em; }

h1 a { text-decoration: none }

h2 {
    font-size: 1.5em;
    color: #0d76f8;
}

h3 {
    text-align: center;
    color: #0d76f8;
}

a { color: #0d76f8; }

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}

.download { float: right; }

pre {
    background: #000;
    color: #fff;
    padding: 15px;
}

hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa
}

.footer {
    text-align:center;
    padding-top:30px;
    font-style: italic;
}

p.latest-version {
    margin-top: 0;
    border: 1px solid #FC0;
    background: #FFC;
    padding: .5em;
    font-weight: bold;
    font-size: 1.15em;
}
