*~
*.pyc
*.so
*.npy
*.pyd
*.wav
*.exe
*.zip
*.c
*.bak
*.db
*.cpp
*.cprof
*.trace
MANIFEST
autopep8.out.txt

build/*
dist/*
doc/_build/*
doc/Makefile
doc/make.bat
env/*
buildenv/*
venv/*
tools/*
friture.egg-info
.eggs/
*.appx

##################
# IDE files
##################
*.pydevproject
.project
.ropeproject
.spyderproject
Notepad++
.idea
.vscode

.mypy_cache