[Desktop Entry]
Name=Friture
Icon=friture
Exec=friture
Type=Application
Categories=AudioVideo;Audio;

Comment=Visualizes audio data in real-time
Comment[af]=Visualiseer oudiodata in intydse tyd
Comment[am]=የድምፅ መረጃን በእውነተኛ ጊዜ በምስል ያሳያል
Comment[ar]=يعاين بيانات الصوت في الوقت الفعلي
Comment[ast]=Visualiza datos d'audio en tiempu real
Comment[az]=Audiodata-nı real vaxt rejimində vizuallaşdırır
Comment[be]=Візуалізуе аўдыяданыя ў рэальным часе
Comment[bg]=Визюализира аудио данни в реално време
Comment[bn]=রিয়েল-টাইমে অডিও ডেটা ভিজ্যুয়ালাইজ করে
Comment[bs]=Visualizira audio podatke u stvarnom vremenu
Comment[ca]=Visualitza dades d'àudio en temps real
Comment[cs]=Vizualizuje zvuková data v reálném čase
Comment[cy]=Gweledolir data sain mewn amser real
Comment[da]=Visualiserer lyddata i reeltid
Comment[de]=Visualisiert Audiodaten in Echtzeit
Comment[el]=Οπτικοποιεί δεδομένα ήχου σε πραγματικό χρόνο
Comment[en_GB]=Visualises audio data in real-time
Comment[eo]=Egaligas kaj visualigas sondatumuon reale
Comment[es]=Visualiza datos de audio en tiempo real
Comment[et]=Visualiseerib heliandmeid reaalajas
Comment[eu]=Denbora errealean ikusten ditu audio datuak
Comment[fa]=داده‌های صوتی را در زمان واقعی تجسم می‌کند
Comment[fi]=Visualisoi äänidataa reaaliajassa
Comment[fr]=Visualise les données audio en temps réel
Comment[ga]=Léiríonn sé sonraí fuaime amharclainne i bhfíor-am
Comment[gl]=Visualiza datos de audio en tempo real
Comment[gu]=વાસ્તવિક સમયમાં ઑડિઓ ડેટાને વિઝ્યુઅલાઈઝ કરે છે
Comment[he]=מציג נתוני שמע בזמן אמת
Comment[hi]=वास्तविक समय में ऑडियो डेटा को दृश्य रूप में प्रस्तुत करता है
Comment[hr]=Prikazuje audio podatke u stvarnom vremenu
Comment[hu]=Valós időben megjeleníti a hangadatokat
Comment[hy]=Տեսողականացնում է աուդիո տվյալները իրական ժամանակում
Comment[id]=Memvisualisasikan data audio secara real-time
Comment[is]=Sýnir hljóðgögn í rauntíma
Comment[it]=Visualizza i dati audio in tempo reale
Comment[ja]=リアルタイムでオーディオデータを可視化します
Comment[ka]=რეალურ დროში ამოწმებს აუდიო მონაცემებს
Comment[kk]=Аудио деректерді нақты уақыт режимінде визуализациялайды
Comment[km]=បង្ហាញទិន្នន័យសំឡេងតាមពេលវេលាជាក់ស្តែង
Comment[kn]=ನೈಜ ಸಮಯದಲ್ಲಿ ಆಡಿಯೋ ಡೇಟಾವನ್ನು ദൃശ്യീകರಿಸುತ್ತದೆ
Comment[ko]=실시간으로 오디오 데이터를 시각화합니다
Comment[ky]=Аудио маалыматтарды реалдуу убакытта визуализациялайт
Comment[lt]=Vizualizuoja garso duomenis realiuoju laiku
Comment[lv]=Vizualizē audio datus reāllaikā
Comment[mk]=Визуелизира аудио податоци во реално време
Comment[ml]=തത്സമയം ഓഡിയോ ഡാറ്റ ദൃശ്യവൽക്കരിക്കുന്നു
Comment[mn]=Аудио өгөгдлийг бодит цаг хугацаанд дүрсэлдэг
Comment[mr]=रिअल-टाइममध्ये ऑडिओ डेटा व्हिज्युअलाइज करतो
Comment[ms]=Memvisualisasikan data audio dalam masa nyata
Comment[nb]=Visualiserer lyddata i sanntid
Comment[ne]=वास्तविक समयमा अडियो डेटा भिजुअलाइज गर्दछ
Comment[nl]=Visualiseert audiogegevens in realtime
Comment[nn]=Visualiserer ljoddata i reeltid
Comment[pa]=ਰੀਅਲ-ਟਾਈਮ ਵਿੱਚ ਆਡੀਓ ਡੇਟਾ ਦੀ ਕਲਪਨਾ ਕਰਦਾ ਹੈ
Comment[pl]=Wizualizuje dane dźwiękowe w czasie rzeczywistym
Comment[pt]=Visualiza dados de áudio em tempo real
Comment[pt_BR]=Visualiza dados de áudio em tempo real
Comment[ro]=Vizualizează datele audio în timp real
Comment[ru]=Визуализирует аудиоданные в реальном времени
Comment[si]=තථ්‍ය කාලීනව ශ්‍රව්‍ය දත්ත දෘශ්‍යමාන කරයි
Comment[sk]=Vizualizuje zvukové údaje v reálnom čase
Comment[sl]=Vizualizira zvokovne podatke v realnem času
Comment[sq]=Visualizon të dhënat audio në kohë reale
Comment[sr]=Визуелизује аудио податке у реалном времену
Comment[sv]=Visualiserar ljuddata i realtid
Comment[ta]=நேரலையில் ஒலித் தரவைக் காட்சிப்படுத்துகிறது
Comment[te]=నిజసమయంలో ఆడియో డేటాను దృశ్యమానం చేస్తుంది
Comment[th]=แสดงภาพข้อมูลเสียงแบบเรียลไทม์
Comment[tr]=Ses verilerini gerçek zamanlı olarak görselleştirir
Comment[uk]=Візуалізує аудіодані в режимі реального часу
Comment[ur]=ریئل ٹائم میں آڈیو ڈیٹا کو بصری شكل دیتا ہے
Comment[uz]=Audio ma'lumotlarni real vaqt rejimida vizuallashtiradi
Comment[vi]=Trực quan hóa dữ liệu âm thanh theo thời gian thực
Comment[zh_CN]=实时可视化音频数据
Comment[zh_TW]=即時視覺化音訊資料

Keywords=audio;spectrum;spectrogram;
Keywords[af]=oudio;spektrum;spektrogram;
Keywords[am]=ድምፅ;ስፔክትረም;ስፔክትሮግራም;
Keywords[ar]=صوت;طيف;مخطط طيفي;
Keywords[ast]=audio;espectru;espectrograma;
Keywords[az]=ses;spektr;spektroqram;
Keywords[be]=аўдыё;спектр;спектраграма;
Keywords[bg]=аудио;спектър;спектрограма;
Keywords[bn]=অডিও;স্পেকট্রাম;স্পেকট্রোগ্রাম;
Keywords[bs]=audio;spektar;spektrogram;
Keywords[ca]=àudio;espectre;espectrograma;
Keywords[cs]=zvuk;spektrum;spektrogram;
Keywords[cy]=sain;sbectrwm;sbectrogram;
Keywords[da]=lyd;spektrum;spektrogram;
Keywords[de]=Audio;Spektrum;Spektrogramm;
Keywords[el]=ήχος;φάσμα;φασματογράφημα;
Keywords[en_GB]=audio;spectrum;spectrogram;
Keywords[eo]=sonoro;spektro;spektrogramo;
Keywords[es]=audio;espectro;espectrograma;
Keywords[et]=audio;spekter;spektrogramm;
Keywords[eu]=audioa;espektroa;espektrograma;
Keywords[fa]=صوتی;طیف;طیف‌نگار;
Keywords[fi]=ääni;spektri;spektrogrammi;
Keywords[fr]=audio;spectre;spectrogramme;
Keywords[ga]=fuaim;speictrim;speictreagram;
Keywords[gl]=son;espectro;espectrograma;
Keywords[gu]=ઓડિયો;સ્પેક્ટ્રમ;સ્પેક્ટ્રોગ્રામ;
Keywords[he]=שמע;ספקטרום;ספקטרוגרמה;
Keywords[hi]=ऑडियो;स्पेक्ट्रम;स्पेक्ट्रोग्राम;
Keywords[hr]=audio;spektar;spektrogram;
Keywords[hu]=hang;spektrum;spektrogram;
Keywords[hy]=աուդիո;սպեկտր;սպեկտրոգրամ;
Keywords[id]=audio;spektrum;spektrogram;
Keywords[is]=hljóð;róf;rófmynd;
Keywords[it]=audio;spettro;spettrogramma;
Keywords[ja]=オーディオ;スペクトル;スペクトログラム;
Keywords[ka]=აუდიო;სპექტრი;სპექტროგრამა;
Keywords[kk]=аудио;спектр;спектрограмма;
Keywords[km]=សំឡេង;ស្ពិចត្រឹម;ស្ពិចត្រូក្រាម;
Keywords[kn]=ಆಡಿಯೋ;ಸ್ಪೆಕ್ಟ್ರಮ್;ಸ್ಪೆಕ್ಟ್ರೋಗ್ರಾಮ್;
Keywords[ko]=오디오;스펙트럼;스펙트로그램;
Keywords[ky]=аудио;спектр;спектрограмма;
Keywords[lt]=garsas;spektras;spektrograma;
Keywords[lv]=audio;spektrs;spektrogramma;
Keywords[mk]=аудио;спектар;спектораграм;
Keywords[ml]=ഓഡിയോ;സ്പെക്ട്രം;സ്പെക്ട്രോഗ്രാം;
Keywords[mn]=аудио;спектр;спектрограмм;
Keywords[mr]=ऑडिओ;स्पेक्ट्रम;स्पेक्ट्रोग्राम;
Keywords[ms]=audio;spektrum;spektrogram;
Keywords[nb]=lyd;spektrum;spektrogram;
Keywords[ne]=अडियो;स्पेक्ट्रम;स्पेक्ट्रोग्राम;
Keywords[nl]=audio;spectrum;spectrogram;
Keywords[nn]=ljod;spektrum;spektrogram;
Keywords[pa]=ਆਡੀਓ;ਸਪੈਕਟ੍ਰਮ;ਸਪੈਕਟ੍ਰੋਗ੍ਰਾਮ;
Keywords[pl]=dźwięk;widmo;spektrogram;
Keywords[pt]=áudio;espectro;espectrograma;
Keywords[pt_BR]=áudio;espectro;espectrograma;
Keywords[ro]=audio;spectru;spectrogramă;
Keywords[ru]=аудио;спектр;спектрограмма;
Keywords[si]=ශ්‍රව්‍ය;වර්ණාවලිය;වර්ණාවලිලේඛය;
Keywords[sk]=zvuk;spektrum;spektrogram;
Keywords[sl]=zvok;spekter;spektrogram;
Keywords[sq]=audio;spektër;spektrogram;
Keywords[sr]=аудио;спектар;спектрограм;
Keywords[sv]=ljud;spektrum;spektrogram;
Keywords[ta]=ஒலி;வர்ணமாலை;ஸ்பெக்ட்ரோகிராம்;
Keywords[te]=ఆడియో;స్పెక్ట్రమ్;స్పెక్ట్రోగ్రామ్;
Keywords[th]=เสียง;สเปกตรัม;สเปกโตรแกรม;
Keywords[tr]=ses;spektrum;spektrogram;
Keywords[uk]=аудіо;спектр;спектрограма;
Keywords[ur]=آڈیو;اسپیکٹرم;اسپیکٹروگرام;
Keywords[uz]=audio;spektr;spektrogramma;
Keywords[vi]=âm thanh;quang phổ;quang phổ đồ;
Keywords[zh_CN]=音频; spectrum; 频谱; 语图;
Keywords[zh_TW]=音訊;光譜;聲譜圖;
