<?xml version="1.0" encoding="UTF-8"?>
<!-- The name of the product -->
<?define Name = "Friture" ?>
<!-- The Description of the product -->
<?define Description = "Real-time audio visualizations" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Silent Gain" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{179b154c-3c6e-42b6-a252-90548f5a324e}" ?>
<!-- The name of the Cabinet -->
<?define CabName = "Friture.cab" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product  Id="*"
            Name="$(var.Name)"
            Manufacturer="$(var.Manufacturer)"
            UpgradeCode="$(var.UpgradeCode)"
            Version="$(var.Version)"
            Language="1033">

    <!--Setup or Installer with properties-->
    <Package    InstallerVersion="200"
                Compressed="yes"
                InstallScope="perMachine"
                Manufacturer="$(var.Manufacturer)" />

    <!--Embed Cabinet into single msi file-->
    <Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />
    
    <!-- Allow upgrades and prevent downgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--Main Feature for this Setup which can be found in Fragment Tag with ComponentGroupRef Id-->
    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentGroupRef Id="FritureFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <!-- Check if older version of Product has been installed. Must be removed by user-->
    <Property Id='NSISKEY'>
      <RegistrySearch   Id='SearchForPreviousNsisInstall'
                        Root='HKLM'
                        Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.Name)'
                        Name='NSIS:Language'
                        Type='raw'
                        Win64='no' />
    </Property>

    <!-- NSISKEY is 1 when the key is found, undefined when the key is not found -->
    <Condition Message="Please uninstall Friture first.">
        <![CDATA[NOT NSISKEY]]>
    </Condition>

    <!-- the  icon shown in the Add/Remove Programs list -->
    <Icon Id="icon.ico" SourceFile="resources\images\friture.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <!-- built-in dialog set with a dialog
         to let the user choose a directory where the product will be installed. -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="installer\gpl-3.0.rtf" />
  </Product>

  <!--Fragment with details of installation directory-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!-- Create a folder inside program files with Product Name-->
        <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder"/> 
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <!--Create application shortcut in Program Menu-->
      <Component Id="ApplicationShortcut" Guid="*">
        <!-- shortcut target refers to the id of friture.exe in the fragment generated by heat.exe -->
        <Shortcut   Id="ApplicationStartMenuShortcut"
                    Name="$(var.Name)"
                    Description="$(var.Description)"
                    Target="[!filB8DD655EEE03E2BE746BC40A314E4DC4]"
                    WorkingDirectory="INSTALLFOLDER" />
        <!-- create application registry entry to serve as a keypath for the shortcut -->
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
